<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
    <link href={% static 'css/as.l.css' %} rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>Live Play</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href={% url 'index'%} "index.html">Live Play Music</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href={% url 'Music_list'%} "Music_list.html">Music</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'Artists_list'%} "Artists_list.html">Artists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'videos'%} "videos.html">Music Videos</a>
              </li>
            </ul>
            <form class="d-flex" method="POST" action="{% url 'Search_Artist' %}">
              {% csrf_token %}
              <input class="form-control me-2" name="searched" type="search" placeholder="Search Artist" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
      </nav>
      <br>
      {% for  MoreArtists in allArtists%}
      <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{MoreArtists.difartistsThumbnail.url}}" class="img-fluid rounded-start" alt="{{song.songName}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{MoreArtists.difartistNames}} <box-icon name='star' animation='spin' color='gold' size="70px" ></box-icon></h5>
            </div>
            <button class="btn1">
              <a href= "">Show Music</a>
            </button> 
          </div>
              </div>
              </div>
            </div>
          </div>
        </div>  
      {% endfor %}
      </div>



    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>